body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: purple;
}

#login-form {
    margin: 100px auto;
    width: 300px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px purple;
}

label {
    color: purple;
}

input[type="text"], input[type="password"] {
    background-color: black;
    color: purple;
    border: 1px solid purple;
    padding: 5px;
    margin: 5px;
}

button {
    background-color: purple;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkpurple;
}

#error-message, #success-message {
    color: purple;
    display: none;
    margin-top: 10px;
}/* Adicione esta classe para redimensionar a imagem para 150px de largura */
.small-image {
    max-width: 150px;
    height: auto;
}
